.indicator-menu-item {
    background-color: transparent !important;

    .buttons-box-layout {
        spacing: 8px;
    }

    // workaround to hide the empty space created by the popup ornament
    .popup-menu-ornament {
        width: 0;
        height: 0;
    }

    .snap-assist-tile {
        border-radius-value: $snap-assist-tile-border-radius - 1;
        border-width: calc($snap-assist-tile-border-width / 2);
    }

    .layout-button {
        border-width: calc($snap-assist-tile-border-width / 2);
    }
}

.default-menu-container {
    spacing: 16px;
}

.monitor-layouts-title {
    //font-family: monospace;
    @include fontsize(9pt);
    text-align: center;
}
