@use "snap_assist";

.layout-icon {
    .snap-assist-tile {
        border-radius-value: snap_assist.$snap-assist-tile-border-radius - 1;
        border-width-value: calc(snap_assist.$snap-assist-tile-border-width / 2);
        border-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
    }

    .snap-assist-tile.dark {
        border-color: rgba(121, 121, 121, 0.2);
        background-color: rgba(121, 121, 121, 0.2);
    }

    .snap-assist-tile.important {
        border-color: rgba(255, 255, 255, 0.6);
        background-color: rgba(255, 255, 255, 0.6);
    }

    .snap-assist-tile.dark.important {
        border-color: rgba(121, 121, 121, 0.6);
        background-color: rgba(121, 121, 121, 0.6);
    }
}
