$snap-assist-tile-border-radius: 6px;

.snap-assistant {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    border: 0;
    border-radius: $base_border_radius;
    padding: 12px;
}

.snap-assist-tile {
    transition: 100ms ease all;
    border-radius-value: $snap-assist-tile-border-radius;
    background-color: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
}

.snap-assist-tile:hover {
    background-color: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.5);
}
