.custom-tile-preview {
    border-radius: $base_border_radius;
}

.selection-tile-preview {
    /*box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);*/
}

.blur-tile-preview {
    border: 0;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.2);
}