.custom-tile-preview {
    border-radius: $base_border_radius;
}

.top-left-border-radius {
    border-radius: $base_border_radius 0 0 0;
}
.top-right-border-radius {
    border-radius: 0 $base_border_radius 0 0;
}
.bottom-right-border-radius {
    border-radius: 0 0 $base_border_radius 0;
}
.bottom-left-border-radius {
    border-radius: 0 0 0 $base_border_radius;
}

.top-left-border-radius.top-right-border-radius {
    border-radius: $base_border_radius $base_border_radius 0 0;
}

.top-right-border-radius.bottom-right-border-radius {
    border-radius: 0 $base_border_radius $base_border_radius 0;
}

.bottom-right-border-radius.bottom-left-border-radius  {
    border-radius: 0 0 $base_border_radius $base_border_radius;
}

.top-left-border-radius.bottom-left-border-radius {
    border-radius: $base_border_radius 0 0 $base_border_radius;
}

.top-left-border-radius.top-right-border-radius.bottom-right-border-radius.bottom-left-border-radius {
    border-radius: $base_border_radius;
}

.selection-tile-preview {
    /*box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.2);*/
}

.blur-tile-preview {
    border: 0;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);
}
