.window-menu-layout {
    .snap-assist-tile {
        border-color: rgba(255, 255, 255, 0.55);
        background-color: rgba(255, 255, 255, 0.2);
        //border-radius-value: $snap-assist-tile-border-radius - 2;
        border-width: calc($snap-assist-tile-border-width / 2);
    }

    .snap-assist-tile.dark {
        border-color: #828282;
        background-color: #efefef;
    }

    .snap-assist-tile:hover {
        border-color: rgba(255, 255, 255, 0.85);
        background-color: rgba(255, 255, 255, 0.5);
    }

    .snap-assist-tile.dark:hover {
        border-color: #545454;
        background-color: #c3c3c3;
    }
}
