.window-border {
    transition: 200ms ease all;
    border-style: solid;
    border-color: none;
    // top left and top right border radius only
    border-radius: 11px 11px 0 0; // 14px for external border
}

.window-border.full-radius {
    border-radius: 11px; // 14px for external border
}
